[submodule "ocl2json/deps/json11"]
	path = ocl2json/deps/json11
	url = https://github.com/dropbox/json11
[submodule "mean_shift/deps/lodepng"]
	path = mean_shift/deps/lodepng
	url = https://github.com/lvandeve/lodepng
[submodule "deps/googletest"]
	path = deps/googletest
	url = https://github.com/google/googletest
[submodule "deps/clpp"]
	path = deps/clpp
	url = https://github.com/matszpk/clpp
[submodule "n_body/deps/glfw"]
	path = n_body/deps/glfw
	url = https://github.com/glfw/glfw.git
