[submodule "ocl2json/deps/json11"]
	path = ocl2json/deps/json11
	url = https://github.com/dropbox/json11
[submodule "nbody/deps/GLFW"]
	path = nbody/deps/GLFW
	url = https://github.com/glfw/glfw
	branch = latest
[submodule "mean_shift/deps/lodepng"]
	path = mean_shift/deps/lodepng
	url = https://github.com/lvandeve/lodepng
[submodule "test/deps/googletest"]
	path = test/deps/googletest
	url = https://github.com/google/googletest
